<body>
<title>成长企业贷历史列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../ICPlatform/css/model.css" type="text/css">
<link rel="stylesheet" href="../ICPlatform/css/model_info.css" type="text/css">
<LINK rel=stylesheet type=text/css href="../smp_files/zTreeStyle.css">
<link rel="stylesheet"  href="../ICPlatform/plugins/easyUI/themes/default/easyui.css" type="text/css">    
<link rel="stylesheet" href="../ICPlatform/plugins/easyUI/themes/icon.css" type="text/css">  

<script src="../ICPlatform/js/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../ICPlatform/js/easytooltip.js" type="text/javascript"></script>
<script src="../ICPlatform/js/jquery.form.js" type="text/javascript"></script>
<script src="../ICPlatform/plugins/easyUI/jquery.easyui.min.js" type="text/javascript"></script>
<SCRIPT type=text/javascript src="../smp_files/easyui-lang-zh_CN.js"></SCRIPT>


<style type="text/css">
.td_1{font-size:12px;}

</style>
<style type="text/css">
td {
 text-align: center;
 
} 
</style>
<script>

$(function(){
	var fromDate;
	
	$('#idNumber').validatebox({
		required: true,
	    validType: 'idcard'
	});

	//客户姓名和证件号验证
	$.extend($.fn.validatebox.defaults.rules, {   
	    idcard : {   
	        validator : function(value) { 
	            return /^\d{15}(\d{2}[A-Za-z0-9])?$/i.test(value); 
	        }, 
	        message : '证件号码格式不正确' 
		},
		checkDateTime: {
	        validator : function(value, param) {
	        	fromDate = $(param[0]).val();
	        	if (fromDate!=""){
	        		if (fromDate.replace(/-/g,"") > value.replace(/-/g,"")){
	        			return false;
	        		} else {
	        			return true;
	        		}
	        	} else {
	        		return true;
	        	}
	        }, 
	        message : '开始日期应小于结束日期' 
		}
	});	
	
	var sValue = $("#loanKind").val();
	$('#loanKindName').combobox({
		onBeforeLoad: function(param){
			if (sValue != ""){
				$('#loanKindName').combobox('select', [sValue]);
			}
		},
		onSelect: function(rec){
			$("#loanKind").val(rec.value);
		}
	});
}); 


//重置
function clearForm(){
	$('#clientName').val("");
	$('#idNumber').val("");
	$('#selectedOffice').datebox('setValue', '');
	$('#productsTypeName').datebox('setValue', '');
	$('#productsTypeName').combobox('select', "");
}
</script>

<script type="text/javascript">
$(document).ready(function(){
	$('table.datagrid-htable').find('.datagrid-cell').css("text-align", 'center');
	$('table.datagrid-btable').find('.datagrid-cell-c1-item_id23').css("text-align", 'right');
	$('table.datagrid-btable').find('.datagrid-cell-c1-item_id30').css("text-align", 'right');
	$('table.datagrid-btable').find('.datagrid-cell-c1-item_id34').css("text-align", 'right');
});
</script>
<script type="text/javascript">
$(document).ready(function(){
	$('table.datagrid-htable').find('.datagrid-cell').css("text-align", 'center');
	$('table.datagrid-btable').find('.datagrid-cell').css("text-align", 'center');
	$('table.datagrid-btable').find('.datagrid-cell-c1-item_id23').css("text-align", 'right');
	$('table.datagrid-btable').find('.datagrid-cell-c1-item_id27').css("text-align", 'right');
	$('table.datagrid-btable').find('.datagrid-cell-c1-item_id30').css("text-align", 'right');

	$('#dd').combotree('loadData', [{ id: 1, text: '贷款品种', children: [
	{ id: 11, text: '新薪贷' },
	{ id: 12, text: '学信通' },
	{ id: 13, text: '精英贷' },
	{ id: 14, text: '助学贷' },
	{ id: 15, text: '助业贷' },
	{ id: 16, text: '助业宜楼贷' },
	{ id: 17, text: '新薪宜楼贷' },
	{ id: 18, text: '学历贷' },
	{ id: 19, text: '宜商贷' },
	{ id: 20, text: '宜车贷' },
	{ id: 21, text: '小企业贷' },
	{ id: 22, text: '房贷' },
	{ id: 23, text: '慧聪（高级）' },
	{ id: 24, text: '慧聪（三年）' },
	{ id: 25, text: '慧聪（普通）' }
	] }]);	
	
});
</script>

<div>&nbsp;</div>
    		<form id="searchForm" method="post">
		    	<table style="height: auto; width: 100%;" >
		    		<tbody>
					<tr>
					
					
						<td width="10%" class="td_1">
		    				合同编号：
		    			</td>
		    			<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    				<input type="hidden" id="pPage" name="pageSize" value=""> 
		    				<input type="hidden" id="pSize" name="pageSize" value=""> 
		    				<input type="hidden" id="sysId" name="sysId" value="11">
		    			</td>
					
						<td width="10%" class="td_1">
		    				客户姓名：
		    			</td>
		    			<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    				<input type="hidden" id="pPage" name="pageSize" value=""> 
		    				<input type="hidden" id="pSize" name="pageSize" value=""> 
		    				<input type="hidden" id="sysId" name="sysId" value="11">
		    			</td>
						
						<td width="10%" class="td_1">
		    				证件号：
		    			</td>
		    			<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    				<input type="hidden" id="pPage" name="pageSize" value=""> 
		    				<input type="hidden" id="pSize" name="pageSize" value=""> 
		    				<input type="hidden" id="sysId" name="sysId" value="11">
		    			</td>
						
						</tr>
						
						<tr>
		
						<td width="8%" class="td_1">贷款品种： </td>
							<td width="26%">
								<input type="hidden" id="selectedOffice" name="selectedOffice" value="172,58,11,15,9,104,195,165,193,53,33,1,54,260,11011192,47,113,6,273,22,57,134,129,271,127,100,197,85,28,301,62,175,155,101,223,250,1,222,200,249,204,135,163,159,272,123,42,95,23,144,20,75,32,207,224,142,120,3,11011279,11009482,137,203,270,25,6,151,181,116,247,72,262,184,110,66,186,138,167,130,221,12,269,189,274,21,152,251,88,114,76,201,202,31,178,26,98,69,241,230,106,162,265,43,107,68,65,121,206,99,73,141,191,63,17,196,78,133,157,148,231,239,299,176,160,131,70,161,154,51,111,168,214,71,11011325,11110829,96,248,41,118,109,153,124,194,303,102,268,11011192,94,64,29,60,36,97,6,240,147,24,145,90,87,238,132,94,74,192,3,302,11011279,112,188,243,185,39,55,16,187,267,23,103,177,190,139,128,275,115,237,261,146,136,44,217,166,182,173,149,228,122,150,59,10,263,67,93,183,44,46,14,125,170,40,205,301,50,23,300,212,174,126,77,276,229,79,164,156,13,158,35,89,86,172"> 
								<span class="searchbox" style="width:189px;"> 
								<input class="searchbox-text" type="text" id="selectedOfficeName" name="selectedOfficeName" style="width:169px;" value="宜信公司，新薪贷......" readonly="readonly" data-options="required:'true'">
								<span class="searchbox-button" onClick="deptree('open');"></span>
								</span>
							</td>	
								
						<td width="10%" class="td_1">城市地区：</td>
						<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    				<input type="hidden" id="pPage" name="pageSize" value=""> 
		    				<input type="hidden" id="pSize" name="pageSize" value=""> 
		    				<input type="hidden" id="sysId" name="sysId" value="11">
		    			</td>
						
					
					<td width="10%" class="td_1">营业部：</td>
						<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    				<input type="hidden" id="pPage" name="pageSize" value=""> 
		    				<input type="hidden" id="pSize" name="pageSize" value=""> 
		    				<input type="hidden" id="sysId" name="sysId" value="11">
		    			</td>
					
					
						</tr>
						
						
						
						<tr>
						
						
						
					<td width="10%" class="td_1">处理状态：</td>
						<td width="20%">
							<select class="easyui-combobox combobox-f combo-f" id="type" style="width: 195px; display: none;" editable="fales" name="type">
								<option value="0">请选择</option>
								<option value="1">待审核</option>	
								<option value="2">审核拒绝</option>	
								<option value="3">审核通过</option>
								<option value="4">已撤销</option>	
							</select>		
						</td> 	
						<td width="10%" class="td_1">是否循环贷：</td>
						<td width="20%">
							<select class="easyui-combobox combobox-f combo-f" id="type" style="width: 195px; display: none;" editable="fales" name="type">
								<option value="0">请选择</option>
								<option value="1">是</option>
								<option value="2">否</option>	
							</select>		
						</td> 	
						
						<td width="10%" class="td_1">
		    				申请人：
		    			</td>
		    			<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    			</td>
						</tr>
						<tr>
						<td width="10%" class="td_1">申请时间： </td>
						<td width="20%">  
							<input type="text" id="repaymentStart" style="width: 85px; display: none;" class="easyui-datetimebox" value="" comboname="repaymentStart">
							- 
							<input type="text" id="repaymentEnd" style="width: 85px; display: none;" class="easyui-datetimebox" value="" data-options="validType:'checkDateTime[\'#searchForm input[name=repaymentStart]\']'" comboname="repaymentEnd">
						</td>
                        <td width="10%" class="td_1">
		    				审核人：
		    			</td>
		    			<td width="20%">
		    				<input  id="clientName" name="clientName" style="width:188px;" value="">
		    			</td>
						<td width="10%" class="td_1">审核时间： </td>
						<td width="20%">  
							<input type="text" id="repaymentStart" style="width: 85px; display: none;" class="easyui-datetimebox" value="" comboname="repaymentStart">
							- 
							<input type="text" id="repaymentEnd" style="width: 85px; display: none;" class="easyui-datetimebox" value="" data-options="validType:'checkDateTime[\'#searchForm input[name=repaymentStart]\']'" comboname="repaymentEnd">
						</td>
                        </tr>
					
                        <tr>
						<td width="10%" class="td_1"></td>
		    			<td width="20%">
						<td width="10%" class="td_1"></td>
		    			<td width="20%">
						<td width="10%" class="td_1"></td>
		    			<td width="20%">
		               		<a href="javascript:void(0)" class="easyui-linkbutton l-btn" onClick="searchInfo();" group="" id="">查询</a>
		               		&nbsp;
		               		<a href="javascript:void(0)" class="easyui-linkbutton l-btn" onClick="clearForm()" group="" id="">重置</a>								
						   
		               	</td>
						
					</br>
					</tr>
							
		    	</tbody>
				</table>
		    </form>

	<div>&nbsp;</div>
	<div class="panel datagrid" style="width: auto;">
	    <div class="panel-header" style="width: auto;"><div class="panel-title">成长企业贷合同历史列表</div><div class="panel-tool"></div></div> 

	<table id="tt" class="easyui-treegrid" style="width:auto;height:250px"   
         pagination="true" >   
       <thead>   
        <tr>   
		
				<th data-options="field:'item_id1',width:100">操作</th>	
				<th data-options="field:'item_id2',width:100">合同编号</th> 
				<th data-options="field:'item_id5',width:100">客户姓名</th>
				<th data-options="field:'item_id6',width:150">证件号</th>
				<th data-options="field:'item_id7',width:120">贷款品种</th>
				<th data-options="field:'item_id8',width:100">城市地区</th>
				<th data-options="field:'item_id9',width:100">营业部</th>
				<th data-options="field:'item_id10',width:100">处理状态</th>
				
                <th data-options="field:'item_id11',width:100">借款金额</th>
				<th data-options="field:'item_id12',width:100">借款用途</th>
				<th data-options="field:'item_id13',width:100">还款起始日期</th>
				<th data-options="field:'item_id14',width:100">还款终止日期</th>
				<th data-options="field:'item_id15',width:130">请求放款时间</th>
				<th data-options="field:'item_id16',width:100">申请人</th>
				<th data-options="field:'item_id17',width:150">申请时间</th>
				<th data-options="field:'item_id18',width:150">申请注记</th>
				<th data-options="field:'item_id19',width:100">审核人</th>
				<th data-options="field:'item_id20',width:150">审核时间</th>
				<th data-options="field:'item_id21',width:150">审核注记</th>
			
		
        </tr>   		
		
    </thead>  
	<tbody>   
        <tr>  
            <td></td> 
			<td>20004121</td>	
			
			<td>李香琴</td>
			<td>2222 2222 2222 2223</td>
			
			<td>成长企业贷</td>
			<td>上海</td>
			<td>上海黄浦营业部</td>
			<td>审核通过</td>
			<td>¥20,000.00</td>
            <td>投资</td>
			
			<td>2015-01-14 </td>
			<td>2015-07-14 </td>
			<td>2015-01-12 12:32:22</td>
			<td>王庆</td>
			<td>2012-11-13 20:00:00</td>
			<td>…………</td>
			<td>张亮</td>
			<td>2012-11-14 20:00:00</td>
			<td>…………</td>
        </tr>  
		<tr>   
            <td></td> 		
			<td>20001266</td>	
			
			<td>李改叶</td>
			<td>2222 2222 2222 2224</td>
			
			<td>成长企业贷</td>
			<td>北京</td>
			<td>北京东城营业部</td>
			<td>审核通过</td>
			<td>¥20,000.00</td>
             <td>投资</td>
			
			<td>2015-01-14 </td>
			<td>2015-07-14 </td>
			<td>2015-01-12 12:32:22</td>
			<td>王庆</td>
			<td>2012-11-13 20:00:00</td>
			<td>…………</td>
			<td>张亮</td>
			<td>2012-11-14 20:00:00</td>
			<td>…………</td>
        </tr> 
		
		<tr>   
			<td></td> 			
			<td>20014237</td>	
			<td>谢青</td>
			<td>2222 2222 2222 2222</td>
			
			<td>成长企业贷</td>
			<td>北京</td>
			<td>北京东城营业部</td>
			<td>审核拒绝</td>
			<td>¥20,000.00</td>
             <td>投资</td>
			
			<td>2015-01-14 </td>
			<td>2015-07-14 </td>
			<td>2015-01-12 12:32:22</td>
			<td>王庆</td>
			<td>2012-11-13 20:00:00</td>
			<td>…………</td>
			<td>张亮</td>
			<td>2012-11-14 20:00:00</td>
			<td>…………</td>
        </tr> 
        
    </tbody>						
</table>  





</body></html>